.body {
  font-family: Roboto, sans-serif;
}

.header {
  text-transform: uppercase;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 500;
}

.section {
  padding: 0em 1em 1em 1em;
}

#user-img {
  border-radius: 50%;
  padding-top: 1em;
}

.img-section {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

.all {
  padding-left: 1em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.name {
  font-size: 2.5sem;
}

.summary {
  padding: 0.5em 0em 0.5em 0em;
}

.full-address {
  padding-top: 1em;
}

.label, .position, .name {
  font-weight: 700;
}

.name {
  font-size: 2em;
}

.left-side {
  /* style={{backgroundColor: 'lightyellow', flex: 1}} */
  background-color: rgb(253, 208, 57);
  flex: 1;
}

.right-side {
  background-color: rgb(255, 255, 255);
  flex: 2;
}

.top-line {
  display: flex;
  justify-content: space-between;
}