.body {
  font-family: Roboto, sans-serif;
}
.header {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.container > div {
  padding: 1em
}
.section {
  margin: 1em;
}
.work-container {
  background-color: pink;
}
.volunteer-container {
  background-color: lightblue;
}
.education-container {
  background-color: lightseagreen;
}
.awards-container {
  background-color: lightyellow;
}
.publications-container {
  background-color: lightsalmon;
}
.languages-container {
  background-color: rgb(212, 183, 235);
}

a {
  cursor: pointer;
  text-decoration: none;
}