.body {
  font-family: Roboto, sans-serif;
}

.header {
  text-transform: uppercase;
  padding: 1em;
}

.section {
  padding: 0em 1em 1em 1em;
}

/* .container {
  background-color: lightsteelblue;
} */

#user-img {
  border-radius: 50%;
}
.all {
  padding-left: 1em;
}

a {
  cursor: pointer;
  text-decoration: none;
}